In [ ]:
!pip install cryptography

Collecting cryptography
  Downloading cryptography-36.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 8.8 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-36.0.0

# **Utlity Functions**

In [ ]:
# Convert to string in ascii from numeric representation of triplets
def convert(a) :
    l = len(a)
    s = ""
    
    idx = 0
    while idx < l :
        temp = a[idx:idx+3]
        s = s + chr(int(temp))
        idx = idx + 3
        
    return s

# Creating a random salt of length n
import string
import random

def get_random_salt(n) :
  
    salt=""
    for i in range(n):
        salt=salt+random.choice(string.ascii_letters)

    return salt

# Get a random encryption key
from cryptography.fernet import Fernet

def get_random_encryptkey() :

    encrypt_key = Fernet.generate_key()
    # fernet = Fernet(key)
    return encrypt_key

In [ ]:
# Take XOR of string a and string b
def XOR1(a, b) :
    res = ""
    i = 0
    j = 0
    
    while (i<len(a) and j<len(b)) :
        
        temp = str(ord(a[i]) ^ ord(b[j])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        i = i + 1
        j = j + 1
    
    while i<len(a) :
        
        temp = str(ord(a[i])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        i = i + 1
        
    while j<len(b) :
        
        temp = str(ord(b[j])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        j = j + 1
        
    return res

# **Connecting with MySQL**

In [ ]:
pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 6.0 MB/s
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py) ... done
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp37-cp37m-linux_x86_64.whl size=249476 sha256=f857227b978c96db312dc95e0915a3f1ad48f3157fd1f2a0310639213074752f
  Stored in directory: /root/.cache/pip/wheels/68/59/cf/3b03557b26b4c75af3788a553e0ff9cf0b37a22d0c9cb01979
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2

In [ ]:
# install, set connection
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/
# query using %sql or %%sql
df = %sql SELECT Host, User, authentication_string FROM mysql.user
df

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.
     |████████████████████████████████| 43 kB 1.3 MB/s
 * mysql+pymysql://root:***@/

        Host              User                      authentication_string
0  localhost              root  *81F5E21E35407D884A6CD4A731AEBFB6AF209E1B
1  localhost     mysql.session  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
2  localhost         mysql.sys  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
3  localhost  debian-sys-maint  *5BEBF7FE37CD488CD634F9C542C1C481E0BEFB3C

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7efe68ad5e90>

# **Part 1 : Store Data in Database**

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("DROP DATABASE btp")

In [ ]:
mycursor.execute("CREATE DATABASE btp")

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('btp',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database='btp'
)

mycursor = mydb.cursor()

In [ ]:
table_name = "customers"
columns = ['id', 'name', 'city', 'wallet_balance']
data = [ ('1', 'Mangesh', 'Umarkhed', '100'),
        ('2', 'Puspesh', 'Patna', '200'),
        ('3', 'Ritwiz', 'Delhi', '150'),
        ('4', 'Pranay', 'Delhi', '190'),
        ('5', 'Harsh', 'Agra', '120') ]

In [ ]:
def store_data(table_name, columns, data) :

    # create table query, first column shoud be id/primary key
    create_query = "CREATE TABLE " + table_name + " (" + columns[0] + " VARCHAR(511) PRIMARY KEY"

    for idx in range(1,len(columns)):
        create_query += ", " + columns[idx] + " VARCHAR(511)"
    
    create_query += ")"

    mycursor.execute(create_query)

    # insert data query 
    insert_query = "INSERT INTO " + table_name + " (" + columns[0]

    for idx in range(1,len(columns)):
        insert_query += ", " + columns[idx]
    
    insert_query += ") VALUES (" + "%s"

    for idx in range(1,len(columns)):
        insert_query += ", %s"

    insert_query += ")"

    id_and_salts = []
    encrypt_key = get_random_encryptkey();
    fernet = Fernet(encrypt_key)
    encrypted_data = []
    
    for idx in range(len(data)):
        encrypted_data.append(list(data[idx]))

    for row in range(len(data)) :
      
        encrypted_id = fernet.encrypt(data[row][0].encode('utf-8'))
        salt = get_random_salt(len(encrypted_id))
        
        id_and_salts.append(encrypted_id)
        id_and_salts.append(salt)

        encrypted_data[row][0] = XOR1(str(encrypted_id),salt)

        for col in range(1,len(data[0])) :

            encrypted_data[row][col] = XOR1(str(fernet.encrypt(data[row][col].encode('utf-8'))), salt)
                
    mycursor.executemany(insert_query, encrypted_data)
    mydb.commit()

    print("Encryption Key :", encrypt_key)

    idx = 0
    print("Encrypted Primary Key and Salt :")
    while idx < len(id_and_salts) :
        if idx == 0:
            print(str(id_and_salts[idx]) + "," + id_and_salts[idx+1])
        else :
            print("," + str(id_and_salts[idx]) + "," + id_and_salts[idx+1])
        idx = idx + 2

In [ ]:
store_data(table_name, columns, data)

Encryption Key : b'yJPjPfhNXxNDTrRpjeO1MxR0Qdx7WunT6u96HgjU7YI='
Encrypted Primary Key and Salt :
b'gAAAAABhpfRNgw9c3epnjiG_S4OrmQkwdS3y5gC-Rmq6QMsPjE0J_RH6Sdvfja6OeD3btdh0u50YYDA-mFtEJCvi33CEgYveVQ==',QQniafuwaJzsMgYRvAwtZtuEdqnBaioFDnogobLzIzApdjjjEdGWGjBIBUKkFoobNunERtsOfrsXmbkNRkcYUaTkECMVwliTowVA
,b'gAAAAABhpfRN6J5XvErrUMfyYCbrxmGsNOJQvFr4Jn5Po-eAvMnFrqugz0cttMhZIsqOCOxvglF_nOwdWno-I-9_oqtVFCIHEQ==',bySrmKndMWdPAvZdhyyQvwrQkOrGnHxrpbqovDraXgiQEwEaxrRFGFlsYMuRruZfBBtMQDNKPqHjZyMluWPbXTgFvcZMJdOFbItm
,b'gAAAAABhpfRNhAqpi_PG2pj8q7jTdaao4G60xtwVbWn1Uthzn0FBziF1oMhw_BuOvCQdko3oZCHGz_aJ7FjV3A7juUXgU392hQ==',TWmduBnPEeMPbAPsYWoUxCJnMfdYlrZIfSTKgmwogSLVcarSJfOrgMgmbmopkLEAzHMPBtifrvIFHaVYovYwjNLOmLNtaGygGDgz
,b'gAAAAABhpfRNfVHie8b4Az2SjTBSk3OkXaQ0c39Y75URirG1YrQXBS3tgqDRDvEzOD5LRrydSCJ3lST6omj5x8Xo3lITG7QVVw==',OYsswyMmgeKSrvuBcleOvnUqiVIFTsPkgsQvEunRemSSIGWyPRYFzZtnNcgjauNckjGREcfwCOueeTcUJszWztdrlASbowKdviLm
,b'gAAAAABhpfRNodZbcMjaW14uWSjC5rhXR8Ph6fZrTcnRm7cRflpB_L65uR_zHPPf3H-7RXEdXWdIqP3o_kbKRymBpH6V9np_wQ==',OqvaDNhgxIwyQhlDNHwmaFvyScQuPoyRnZiYYKdaNbJwPEVhcuPYbUpTWRtciMYrfuCIrTxRGXeZjcryLafLYsStILtUnmchanLG

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('customers',)

In [ ]:
mycursor.execute("SELECT * from customers")
for x in mycursor:
  print(x)

('005065048010055027055027041026032003055004018043024059055016060097049010007030044030091055052042056016020088127093015037051042047079043106014092009047047005009018063026007045037079083000037125054005037034049008024016033014077037003062029024072068101025024051053062005054054031014059081109096097033048061061039', '005065048010055027055027041026032003055004050025064027044008040005035010036103033088091048060059035015046031028051052081105025023061089040054087076027079035060014026014001123033012050062015028081066088045036034066052068124058013028063035015060077099041048007050028020036030002064052046047001060004022061061039', '005065048010055027055027041026032003055004060046003052046029056058015057035003030006022056063004063031011009059043109000056122097027085106018059047049047056041102089031020119013043083039051025030032088031030045022010032063072051054020016113009032101047040048019026123023034025060057035019034051002048061061039', '005065048010055027055027041026032003055004025051069010047059057029004093001003011023094026058025065008051009059011018048060006041034059050011048018025001031009104048007050114014026003006030011031065005051047002012006016010051050053115057003039036027009059034035043011078042032059021095037061061016022061061039')
('008081050050041023023021049044043020005037113000030039011053031004069040040004000078015056032003000031027054001031046017038025015035002037011012035053007036024018109051089011082063048088103020002007045057001018035045061002020029002030008092063004009121054027035057026038052101019005005013012096027038061061039', '008081050050041023023021049044043020005037024021049088121049018062060036037038025077061030059045012048030021030053094044038048070048025063003040051094044019031116000000007081019057022047047099059037012036000038124045040017025032039003024049023042040034018004014126004125059059031055001046053010016016061061039', '008081050050041023023021049044043020005037054000096055043062022055070000011037049074006062074017080002021058089012040098033011033020038050049006104050047037016027005088095079014007016063006039006034049056025055027041087001015010030074050008100027110114077030060061037063019052045052090057013020047016061061039', '008081050050041023023021049044043020005037000052005052040065086053030021042013011003039018054003017063060005029011018061055020003049000023031001125047045004030061107025039044022058021026016038020002082020074052052023092005005033010060025018013094019115076068045027012126062037029095013030055022079016061061039')
('019066000027007039007039017039022000027045001083031006106023014033026005040064035022031026028040036008051092017053123062064015016003054012054029062083058014082019020051073016017021025030092001019005040014037042025006115052012059018015002051004049048119006093127028012001003022026094048000023003017005061061039', '019066000027007039007039017039022000027045039049059058016048090014060042003016118041004018031017061020073041044033034125049124029031012087022054086040000036026007001039016109084042038010066099055039041002004044054035048053022051006015088014001014052021052089001027090042024012026018035046018029116051061061039', '019066000027007039007039017039022000027045009039089027037030033018096029024053044000021026020002106017092036039045033127078042033057002003058093042092003026017036123013017019027012059036030009027061114050121092025040019030006015012032045014058092037060067000126032038039106002059045013061042035115051061061039', '019066000027007039007039017039022000027045105034012005062034066007039041019064118021052045036033113030043035004106004061078046082036017046105009084059002033001003029005021031055060040126010031020058049050100008083028016019037105028094029048039034065015064014008097005042032000055013006012050126049051061061039')
('024085006044014051012048010048030062027008012032010002091020036024044060018058122027035029065028027026018002039000081119034015021001015032035018049036051087029026024047041019043029030066013021032038016102123082033027035008018017058032115014026010002017025001034035051056082022026106043029085104015052061061039', '024085006044014051012048010048030062027008043034062046047005085048054028049025056090031019007013011044029023040051059004050010011008044016050062087045012036124004041040062051010008033039037119015061042101122041050040044119029016000009049126022029000018043054000079025018048030043007007104083015031036061061039', '024085006044014051012048010048030062027008063002059032000042000044036045056055031071094032065049002056025050032036001015061054053041009043026057031015036055039001036018015088010055030061011039058001045048024022039032057030029023045001047013042021127026047067004006089046017078015035034026040047059018061061039', '024085006044014051012048010048030062027008025018050097047114083008061127024024004003060117078022063046006066053015036016011099045046012022063009003013009093025010018007025008033020083054055018063008095102058002084046063005097098012012038124061043004047019006026014087064018009063098025021006011051002061061039')
('058075018027010042057052000039009041027046029043063118001105009018044023050019023115034016122011008004079006044059039052015007042021030025047049055012013089029000010008028058000024011057055015026017045015066046031017126062043064034005104084030061089035051021018096028057039104007127054005029102020027061061039', '058075018027010042057052000039009041027046057013061030014006001011111027001014060005031073127032032022060051063061076051069041043026049027036012052027038025044026044121059000120069039042063012049003065039065007018002011062055011039028099079006009063010032018035109018041057054043127054083049000008011061061039', '058075018027010042057052000039009041027046027019055012015016001101019035060000035008059029023043041015032014045050035003056044116064112020021012054062051036071046016126018018060034089053013009033004053113035093026046020022089013026038001029051023058018058030030031071078026061035125056021040060046011061061039', '058075018027010042057052000039009041027046026029051016030019018035053023015050011019080053122033009124042029061027059065046008001094025001014004003037100000050045010021011073062064014035020027032088062113035044118044008116080055022052055075040032056022037098037026056006021048042040061048041051001027061061039')

# **PART 2 : Making Query from MySQL**

In [ ]:

# Get from result of store_data 
key1=b'yJPjPfhNXxNDTrRpjeO1MxR0Qdx7WunT6u96HgjU7YI='
EncPrimary_key="b'gAAAAABhpfRNodZbcMjaW14uWSjC5rhXR8Ph6fZrTcnRm7cRflpB_L65uR_zHPPf3H-7RXEdXWdIqP3o_kbKRymBpH6V9np_wQ=='"

# Get from Blockchain
salt_str="OqvaDNhgxIwyQhlDNHwmaFvyScQuPoyRnZiYYKdaNbJwPEVhcuPYbUpTWRtciMYrfuCIrTxRGXeZjcryLafLYsStILtUnmchanLG"

Idd=(XOR1(salt_str,EncPrimary_key), )

query = "SELECT name from customers where id= %s"
mycursor.execute(query,Idd)
res=""
for x in mycursor:
  #print(x)
  res=x

Encrypted_res=XOR1(convert(res[0]),salt_str)
#print(Encrypted_res)
#print(type(res[0]))
fernet1=Fernet(key1)
temp=convert(Encrypted_res)
print(temp)
s1=temp[1:len(temp)]
decMessage = fernet1.decrypt(s1.encode('utf-8')).decode()

print("\n\nDecrypted string: ", decMessage)

b'gAAAAABhpfRNgoSSigRfeQkaPpoEJkQGcjvIsPLLAUR6Zym9dMistlXFuqJ-djaha1yk_-gxGv_PQ4-kpPI_OnHEv2yPh0yEbg=='


Decrypted string:  Pranay